
      <div class="page-wrapper">

        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <div class="d-inline">
                  <h4>Les Modules</h4>
                  <span></span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                  <li class="breadcrumb-item" style="float: left;">
                    <a routerLink="/base/#"> <i class="feather icon-home"></i> </a>
                  </li>
                  <li class="breadcrumb-item" style="float: left;"><a href="#!">Produit</a>
                  </li>
                  <li class="breadcrumb-item" style="float: left;"><a href="#!">Modules</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="page-body">

          <div class="card">
            <div class="card-header">
              <h5>Les Modules du Produit {{produit.nom}}</h5>
              <!--Modals-->

              <div class="modal fade" id="editer">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Editer Module</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="container"></div>
                    <form [formGroup]="editModuleForm">
                      <div class="modal-body">
                        <div class="card">
                          <div class="card-block">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Nom
                              </label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" (input)="onNameInput($event,'libelleModule')" formControlName="libelleModule" placeholder="nom ici...">
                                <span class="messages"></span>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Description
                              </label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="description"
                                  placeholder="description ici..." (input)="onNameInput($event,'description')">
                                <span class="messages"></span>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Type Module
                              </label>
                              <div class="col-sm-9">
                                <select class="form-control" formControlName="typeModule">
                                  <option value="standard">Standard</option>
                                  <option value="additionnel">Additionnel</option>
                                </select>
                                <span class="messages"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer"> <a href="#" data-dismiss="modal" class="btn btn-danger">Annuler</a>
                        <button  type="Submit" [disabled]="editModuleForm.invalid" data-dismiss="modal" class="btn btn-success" (click)="update()">Valider
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!--Modal-->

            </div>
            <div class="card-block">
              <div class="dt-responsive table-responsive">
                <table *ngIf="listeModule.length > 0" id="table-style-hover" class="table table-striped table-hover table-bordered nowrap">
                  <thead>
                    <tr>
                      <th>Libellé</th>
                      <th>Description</th>
                      <th>Type Du Module</th>
                      <th>Statut</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let module of listeModule">
                      <td>{{module.libelleModule}}</td>
                      <td>{{module.description}}</td>
                      <td>{{module.typeModule}}</td>

                      <td>
                        <div class="label-main" *ngIf="module.statut == 2">
                          <label class="label label-danger">Désactivé</label>
                        </div>
                        <div class="label-main" *ngIf="module.statut == 1">
                          <label class="label label-success">activé</label>
                        </div>
                      </td>

                      <td>
                          <button type="button" class="btn btn-success mr-2" title="éditer" data-toggle="modal"
                          data-target="#editer" (click)="editer(module, produit.codeProduit)">
                            <i class="feather icon-edit-1"></i>
                          </button>
                          <button type="button" class="btn btn-danger mr-2" (click)="desactiver(module.codeModule)">
                            <i class="feather icon-trash-2"></i>
                          </button>
                      </td>
                    </tr>

                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Libellé</th>
                      <th>Description</th>
                      <th>Type Du Module</th>
                      <th>Statut</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                </table>

                  <h5 *ngIf="listeModule.length===0">La Liste de Module est vide pour le Produit {{produit.nom}}</h5>

              </div>
            </div>
          </div>

        </div>

      </div>


