<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div class="container myImage">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="index.html" class="logo d-flex align-items-center w-auto">
              <img src="/src/assets/files/assets/images/logo-blue.png" alt="">
            </a>
          </div>

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Authentification</h5>
                <h6 class="text-center small">Bienvenue sur la plateforme de Génération de Licence</h6>
              </div>

              <form class="row g-3 needs-validation" [formGroup]="formLogin">

                <div class="col-12">
                  <label for="yourUsername" class="form-label">Email</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="email" formControlName="email" class="form-control" id="yourUsername" autofocus="true" required>

                  </div>
                  <div *ngIf="email?.invalid && email?.dirty || email?.touched">
                    <span class="newClass" *ngIf="formLogin.get('email')?.hasError('required')">
                      Email Obligatoire!!!
                    </span>
                    <span class="newClass" *ngIf="formLogin.get('email')?.hasError('email')">
                      format d'adresse mail incorrecte!!!
                    </span>
                  </div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="yourPassword" required>
                  <div *ngIf="password?.invalid && password?.dirty || password?.touched">
                    <span class="newClass" *ngIf="formLogin.get('password')?.hasError('required')">
                      Mot de passe Obligatoire!!!
                    </span>

                  </div>
                </div>
                <div class="col-12 mt-3">
                  <button [disabled]="formLogin.invalid" class="btn btn-primary w-100" type="submit" (click)="onLogin()">Se Connecter...</button>
                </div>

                <div class="col-12 mt-1">
                  <p class="small mb-0">Mot de Passe <a routerLink="forgotPassword">Oublié?</a></p>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

</div>
