

<div class="page-wrapper">

  <div class="page-header">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <div class="d-inline">
            <h4>Les Utilisateurs du Système</h4>
            <span></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
              <a routerLink="/base/#"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;"><a href="#!">Gestion des Utilisateurs</a>
            </li>
            <li class="breadcrumb-item" style="float: left;"><a href="#!">Utilisateurs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="page-body">

    <div class="card">
      <div class="card-header">
        <h5>Liste des Utilisateurs</h5>
        <button type="button" class="Plug-right btn btn-grd-inverse float-right" data-toggle="modal"
          data-target="#myModal">
          <i class="feather icon-plus"></i>
          Nouvel Utilisateur</button>

        <!--Modals-->

        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-center">Nouvel Utilisateur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="container"></div>
              <form [formGroup]="formUser">
                <div class="modal-body">
                  <div class="card">
                    <div class="card-block">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nom
                        </label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" formControlName="lastname" placeholder="nom ici..." required>
                          <span class="messages"></span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Prénom
                        </label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" formControlName="firstname"
                            placeholder="prenom ici..." required>
                          <span class="messages"></span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" formControlName="email"
                            placeholder="email ici..." required>
                          <span class="messages"></span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Profil
                        </label>
                        <div class="col-sm-9">
                          <select class="form-control" formControlName="role" required>
                            <option *ngFor="let profil of listeProfils" [value]="profil.codeProfil">{{profil.libelle}}</option>
                          </select>
                          <span class="messages"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer"> <a href="#" data-dismiss="modal" class="btn btn-danger">

                  Annuler</a>
                  <button type="Submit" data-dismiss="modal" (click)="envoyer()" class="btn btn-success">

                    Valider
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>


        <div class="modal fade" id="editer">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-center">Mise à jour</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="container"></div>
              <form [formGroup]="formEdit">
                <div class="modal-body">
                  <div class="card">
                    <div class="card-block">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nom
                        </label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" formControlName="lastname" placeholder="nom ici...">
                          <span class="messages"></span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Prénom
                        </label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" formControlName="firstname" id="name"
                            placeholder="prenom ici...">
                          <span class="messages"></span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Profil
                        </label>
                        <div class="col-sm-9">
                          <select class="form-control" formControlName="role" id="name">
                            <option *ngFor="let profil of listeProfils" [value]="profil.codeProfil">{{profil.libelle}}</option>
                          </select>
                          <span class="messages"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer"> <a href="#" data-dismiss="modal" class="btn">Annuler</a>
                  <button type="Submit" data-dismiss="modal" class="btn btn-primary" (click)="update()">Valider
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>





        <!--Modal-->

      </div>
      <div class="card-block">
        <div class="dt-responsive table-responsive">
          <table id="table-style-hover" class="table table-striped table-hover table-bordered nowrap">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Email</th>
                <th>Profil</th>
                <th>Statut</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <!--
                 <tr>
                <td>Kodjo</td>
                <td>Bilal</td>
                <td>bilal@gmail.com</td>
                <td>USER</td>
                <td>actif</td>
                <td class="icon-btn">

                  <button class="btn  btn-danger mr-2" title="désactiver" (click)="deactiver()"
                   ><i class="feather icon-lock"></i></button>
                  <button class="btn btn-primary btn-danger mr-2" title="désactiver" data-toggle="modal" data-target="#editer" ><i class="fa fa-times"></i></button>

                </td>
              </tr>
              -->

              <tr *ngFor="let user of listUser" >
                <td >{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.profil.libelle }}</td>
                <td>
                  <div class="label-main" *ngIf="user.statut== 1">
                    <label class="label label-success">actif</label>
                  </div>
                  <div class="label-main" *ngIf="user.statut== 2">
                    <label class="label label-danger">inactif</label>
                  </div>

                </td>
                <td class="icon-btn">
                  <button class="btn  btn-info mr-2" title="details" (click)="detail(user)"><i
                      class="fa fa-eye"></i></button>
                  <button class="btn  btn-primary mr-2" title="éditer" data-toggle="modal"
                    data-target="#editer" (click)="editer(user)"><i class="feather icon-edit"></i></button>
                  <button class="btn btn-success alert-confirm m-b-10 mr-2" title="activer" (click)="activer(user.codeUser)"
                  *ngIf="user.statut== 2"><i
                      class="feather icon-check"></i></button>
                  <button class="btn  btn-danger mr-2" title="désactiver" (click)="desactiver(user.codeUser)"
                  *ngIf="user.statut== 1" ><i class="feather icon-lock"></i></button>
                  <!--<button class="btn btn-primary btn-danger mr-2" title="désactiver" data-toggle="modal" data-target="#editer" ><i class="fa fa-times"></i></button>-->

                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Email</th>
                <th>Profil</th>
                <th>Statut</th>
                <th>Actions</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
