<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu">
    <div class="pcoded-navigatio-lavel">Navigation</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu active pcoded-trigger">
        <a>
          <span class="pcoded-micon"><i class="feather icon-home"></i></span>
          <span class="pcoded-mtext">Tableau de Bord</span>
        </a>
        <ul class="pcoded-submenu">

          <li class="active">
            <a routerLink="dashboard">
              <span class="pcoded-mtext">Statistiques</span>
            </a>
          </li>
          <li class="">
            <a >
              <span class="pcoded-mtext">Historique</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="pcoded-navigatio-lavel">Gestion Utilisateur</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-edit-1"></i></span>
          <span class="pcoded-mtext">Utilisateurs</span>
        </a>
        <ul class="pcoded-submenu">
          <li class="">
            <a data-toggle="modal" data-target="#droit" type="button" >
              <span class="pcoded-mtext">Profil</span>
            </a>
          </li>
          <li class=" ">
            <a href="button.html">
              <span class="pcoded-mtext">Gestion des Habilitations</span>
            </a>
          </li>
          <li class="">
            <a routerLink="gestion-utilisateur" >
              <span class="pcoded-mtext">Gestion Utilisateur</span>
            </a>
          </li>
        </ul>
      </li>
    </ul><div class="pcoded-navigatio-lavel">Gestion Des Licences</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-cpu"></i></span>
          <span class="pcoded-mtext">Paramétrage</span>
        </a>
        <ul class="pcoded-submenu">
          <li class=" ">
            <a routerLink="parametrage">
              <span class="pcoded-mtext">Paramétrer les données</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-cpu"></i></span>
          <span class="pcoded-mtext">Licence Serveur</span>
        </a>
        <ul class="pcoded-submenu">
          <li class=" ">
            <a routerLink="licence-serveur">
              <span class="pcoded-mtext">Générer Licence</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
          <span class="pcoded-mtext">Licence Cliente</span>
        </a>
        <ul class="pcoded-submenu">
          <li class=" ">
            <a routerLink="licence-cliente">
              <span class="pcoded-mtext">Générer Licence</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="pcoded-navigatio-lavel">Gestion Des Produits</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-box"></i></span>
          <span class="pcoded-mtext">Produit</span>
        </a>
        <ul class="pcoded-submenu">
          <li class=" ">
            <a routerLink="gestion-produit">
              <span class="pcoded-mtext">Liste Produit</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="pcoded-navigatio-lavel">Gestion Des Institution</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-box"></i></span>
          <span class="pcoded-mtext">Institution</span>
        </a>
        <ul class="pcoded-submenu">
          <li class=" ">
            <a routerLink="gestion-institution">
              <span class="pcoded-mtext">Liste Institutions</span>
            </a>
          </li>
          <li class=" ">
            <a href="breadcrumb.html">
              <span class="pcoded-mtext">Activation de Produit</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>


  </div>
</nav>

