<div class="page-wrapper">
  <div class="page-body">
    <div class="row">

      <div class="col-xl-3 col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="text-c-yellow f-w-600">+{{listeProduit}}</h4>
                <h6 class="feather m-b-0">Produits</h6>
              </div>
              <div class="col-4 text-right">
                <i class="feather icon-bar-chart f-28"></i>
              </div>
            </div>
          </div>
          <div class="card-footer bg-c-yellow">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% change</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="text-c-green f-w-600">+{{listeInstitution}}</h4>
                <h6 class="feather m-b-0">Institutions</h6>
              </div>
              <div class="col-4 text-right">
                <i class="feather icon-calendar f-28"></i>
              </div>
            </div>
          </div>
          <div class="card-footer bg-c-green">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% change</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="text-c-pink f-w-600">{{nbrLicence}}</h4>
                <h6 class="feather m-b-0">Licences Actives</h6>
              </div>
              <div class="col-4 text-right">
                <i class="feather icon-file-text f-28"></i>
              </div>
            </div>
          </div>
          <div class="card-footer bg-c-pink">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% change</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="text-c-blue f-w-600">+{{listeContrat}}</h4>
                <h6 class="feather m-b-0">Contrats en cours...</h6>
              </div>
              <div class="col-4 text-right">
                <i class="feather icon-download f-28"></i>
              </div>
            </div>
          </div>
          <div class="card-footer bg-c-blue">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% change</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-8 col-md-12">
        <div class="card">
          <div class="card-block" [chart]=" chart2">
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12">
        <div class="card">
          <div class="card-block" [chart]=" chart">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
